@model Gazeta.Models.News

@{
    ViewData["Title"] = "Create";
}




@{Layout="../Shared/_CompanyLayout.cshtml";}


<div class="container-fluid">   

 <div class="row">                        
    <div class="col-xl-8 col-lg-7 ml-auto mr-auto ">
        <div class="card shadow mb-4 ">
            
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Post News</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    
                </div>
            </div>
            
            <div class="card-body">
                    <div class="container">



<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>

        <form asp-action="PostNews"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Headline" class="control-label"></label>
                <input asp-for="Headline" class="form-control" />
                <span asp-validation-for="Headline" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <img id="imgViewer" width="200" height="200" style="border: 1px solid black;" class="control-label"/>
            </div> *@
            <div class="form-group">
                <label asp-for="Article" class="control-label"></label>
                <input asp-for="Article" class="form-control" />
                <span asp-validation-for="Article" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishDate" class="control-label"></label>
                <input asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Headline" class="control-label"></label>
                <select asp-for="Headline" >
                    <option value="Business">Business</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Health">Health</option>
                    <option value="Financial Services">Financial Services</option>
                    <option value="Technology">Technology</option>
                    <option value="Others">Others</option>
                </select>
                <span asp-validation-for="Headline" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <input id="btnSubmit" type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>

        <a type="button" class="btn btn-outline-primary  waves-effect " asp-action="Index" ><i class="fas fa-arrow-circle-left "
                aria-hidden="true"></i></a>

   </div>

            </div>
            </div>
        </div>        
 </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
