/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    overflow-y: hidden;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */


html {
    font-size: 16px;
}

.content {
    display: flex;
}

aside {
    flex-grow: 1;
    width: 15%;
    height: 100vh;
}

.main-content {
    flex-grow: 3;
    width: 85%;
}

main {
    background-color: #f7f7f7;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
    padding-bottom: 8%;
}

#logo {
    display: none;
}

.logo-text {
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
}

    .logo-text:hover {
        color: black;
        text-decoration: none;
    }

.side-bar .side-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .side-bar .side-nav span {
        padding-inline: 10%;
        font-weight: 600;
        font-size: 16px;
    }

#explore-section p {
    font-size: 16px;
    padding-left: 8%;
    font-weight: 500;
}



@media (max-width: 576px) {
    html {
        font-size: 14px;
    }

    .side-bar {
        display: none;
        position: absolute;
        z-index: 100;
        width: 55%;
        background-color: white;
    }

    #logo {
        display: block;
    }

    .logo-text {
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        font-size: 14px;
    }

        .logo-text:hover {
        }
}
/* Sticky footer styles
-------------------------------------------------- */


body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
