@section Styles{

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/home.css" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/css/admin-2.min.css" rel="stylesheet">
}

@{
    ViewData["Title"] = "Company Home Page";
}

@{Layout="../Shared/companyLayout.cshtml";}


<div id="page-top">

    <div id="wrapper">
         <div id="content-wrapper" class="d-flex flex-column">

            
               
                <div class="container">
                   
                    <div class="my-5">
                        <h1 class="text-center">Posts</h1>
                    </div>

                    <div class="card ml-3 my-5"  style="width: 1100px; ">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://media.istockphoto.com/photos/breaking-news-world-news-with-map-backgorund-picture-id1182477852?k=6&m=1182477852&s=612x612&w=0&h=X-UipiiX5xcMw9dBhzKZWG7UcWjEOARl2s_oTVV8rtE=" alt="..."
                                    class="img-fluid " style="width: 300px; height:300px;" />
                            </div>
                            <div class="col-md-6 pl-0 no-gutters ">
                                <div class="card-body">
                                    <h5 class="card-title">200 mln-birr bus terminal starts operation</h5>
                                    <p class="card-text">
                                        The new Mercato Bus Terminal built with an outlay of 200 million birr begins operations as of today, according to the Addis Ababa City Administration Transport Bureau.
                                    </p>
                                    <p class="card-text">
                                        The unique bus terminal named after Mercato – the largest open market in the country – is said to be the most convenient bus terminal only hosting Anbessa and Sheger city buses.

                                    </p>
                                  
                                    <p class="card-text">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2 py-5 ">
                              
                               <button type="button" class="btn btn-outline-primary   waves-effect mr-3 my-5 "><i class="fas fa-edit "
                                aria-hidden="true"></i></button>
                               <button type="button" class="btn btn-outline-danger  waves-effect "><i class="fas fa-trash "
                                aria-hidden="true"></i></button>

 
                            </div>
                        </div>
                    </div>
                    <div class="card ml-3 my-5"  style="width: 1100px; ">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://media.istockphoto.com/photos/breaking-news-world-news-with-map-backgorund-picture-id1182477852?k=6&m=1182477852&s=612x612&w=0&h=X-UipiiX5xcMw9dBhzKZWG7UcWjEOARl2s_oTVV8rtE=" alt="..."
                                    class="img-fluid " style="width: 300px; height:300px;" />
                            </div>
                            <div class="col-md-6 pl-0 no-gutters ">
                                <div class="card-body">
                                    <h5 class="card-title">200 mln-birr bus terminal starts operation</h5>
                                    <p class="card-text">
                                        The new Mercato Bus Terminal built with an outlay of 200 million birr begins operations as of today, according to the Addis Ababa City Administration Transport Bureau.
                                    </p>
                                    <p class="card-text">
                                        The unique bus terminal named after Mercato – the largest open market in the country – is said to be the most convenient bus terminal only hosting Anbessa and Sheger city buses.

                                    </p>
                                  
                                    <p class="card-text">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2 py-5 ">
                              
                               <button type="button" class="btn btn-outline-primary   waves-effect mr-3 my-5 "><i class="fas fa-edit "
                                aria-hidden="true"></i></button>
                               <button type="button" class="btn btn-outline-danger  waves-effect "><i class="fas fa-trash "
                                aria-hidden="true"></i></button>

 
                            </div>
                        </div>
                    </div>
                    <div class="card ml-3 my-5"  style="width: 1100px; ">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://media.istockphoto.com/photos/breaking-news-world-news-with-map-backgorund-picture-id1182477852?k=6&m=1182477852&s=612x612&w=0&h=X-UipiiX5xcMw9dBhzKZWG7UcWjEOARl2s_oTVV8rtE=" alt="..."
                                    class="img-fluid " style="width: 300px; height:300px;" />
                            </div>
                            <div class="col-md-6 pl-0 no-gutters ">
                                <div class="card-body">
                                    <h5 class="card-title">200 mln-birr bus terminal starts operation</h5>
                                    <p class="card-text">
                                        The new Mercato Bus Terminal built with an outlay of 200 million birr begins operations as of today, according to the Addis Ababa City Administration Transport Bureau.

                                    </p>
                                    <p class="card-text">
                                        The unique bus terminal named after Mercato – the largest open market in the country – is said to be the most convenient bus terminal only hosting Anbessa and Sheger city buses.

                                    </p>
                                  
                                    <p class="card-text">
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2 py-5 ">
                              
                               <button type="button" class="btn btn-outline-primary   waves-effect mr-3 my-5 "><i class="fas fa-edit "
                                aria-hidden="true"></i></button>
                               <button type="button" class="btn btn-outline-danger  waves-effect "><i class="fas fa-trash "
                                aria-hidden="true"></i></button>

 
                            </div>
                        </div>
                    </div>
                       
                    </div>
                    <div class="container  ">
                        <a class=" fixed-bottom d-flex justify-content-end my-5 mr-5" asp-controller="Dashboard"  asp-action="addPost"> <i class="fas fa-plus-circle fa-4x" ></i></a>
                     </div>

                </div>
             </div>
        </div>
    


