@section Styles{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/explore.css" />
}

@{
    ViewData["Title"] = "Explore Page";
}

<div class="pt-2">
    <section class=" row">
        <div class="col-4 col-md-2 p-0 mx-md-2 card shadow">
            <div class="card-body">
                <i class="fas fa-futbol  icon" style="color:blue"></i>
                <span>Sport</span>
            </div>
        </div>
        <div class="col-4 col-md-2 p-0 mx-md-2 card shadow">
            <div class="card-body">
                <i class="fas fa-briefcase  icon" style="color:yellow"></i>
                <span>Bussines</span>
            </div>
        </div>
        <div class="col-4 col-md-2 p-0 mx-md-2 card shadow">
            <div class="card-body">
                <i class="fas fa-landmark  icon" style="color:black"></i>
                <span>Politics</span>
            </div>
        </div>
        <div class="col-4 col-md-2 p-0 mx-md-2 card shadow">
            <div class="card-body">
                <i class="fas fa-flask  icon" style="color:green"></i>
                <span>Science</span>
            </div>
        </div>
        <div class="col-4 col-md-2 p-0 mx-0 mx-md-2 card shadow">
            <div class="card-body">
                <i class="fas fa-tshirt icon" style="color:hotpink"></i>
                <span>Fashion</span>
            </div>
        </div>
        <div class="col-4 col-md-2 p-0 mx-0 mx-md-2 card shadow">
            <div class="card-body">
                <i class="fas fa-project-diagram  icon" style="color:royalblue"></i>
                <span>Tech</span>
            </div>
        </div>

    </section>
    <section id="special" class="mt-4 mx-1">
        <h5 class="mb-2">Fana Television</h5>
        <div class="single-post row">
            <img class="col-5 col-md-3" src="https://media.istockphoto.com/photos/breaking-news-world-news-with-map-backgorund-picture-id1182477852?k=6&m=1182477852&s=612x612&w=0&h=X-UipiiX5xcMw9dBhzKZWG7UcWjEOARl2s_oTVV8rtE=" alt="error" />
            <div class="col-7 col-md-9 mt-3">
                <span>Title of the news test length of the title </span>
                <h6>Fana Television</h6>
                <div>5k <span>Release date</span></div>
                <p>This tutorial teaches ASP.NET Core MVC web development with controllers and views.</p>
            </div>
        </div>
    </section>
    <hr />
    <section>
        <h5>Trending News</h5>
        <div class="single-post row">
            <img class="col-5 col-md-3" src="https://media.istockphoto.com/photos/breaking-news-world-news-with-map-backgorund-picture-id1182477852?k=6&m=1182477852&s=612x612&w=0&h=X-UipiiX5xcMw9dBhzKZWG7UcWjEOARl2s_oTVV8rtE=" alt="error" />
            <div class="col-7 col-md-9 mt-3">
                <span>Title of the news test length of the title </span>
                <h6>Fana Television</h6>
                <div>5k <span>Release date</span></div>
                <p>This tutorial teaches ASP.NET Core MVC web development with controllers and views.</p>
            </div>
        </div>
        <div class="single-post row">
            <img class="col-5 col-md-3" src="https://media.istockphoto.com/photos/breaking-news-world-news-with-map-backgorund-picture-id1182477852?k=6&m=1182477852&s=612x612&w=0&h=X-UipiiX5xcMw9dBhzKZWG7UcWjEOARl2s_oTVV8rtE=" alt="error" />
            <div class="col-7 col-md-9 mt-3">
                <span>Title of the news test length of the title </span>
                <h6>Fana Television</h6>
                <div>5k <span>Release date</span></div>
                <p>This tutorial teaches ASP.NET Core MVC web development with controllers and views.</p>
            </div>
        </div>
        <div class="single-post row">
            <img class="col-5 col-md-3" src="https://media.istockphoto.com/photos/breaking-news-world-news-with-map-backgorund-picture-id1182477852?k=6&m=1182477852&s=612x612&w=0&h=X-UipiiX5xcMw9dBhzKZWG7UcWjEOARl2s_oTVV8rtE=" alt="error" />
            <div class="col-7 col-md-9 mt-3">
                <span>Title of the news test length of the title </span>
                <h6>Fana Television</h6>
                <div>5k <span>Release date</span></div>
                <p>This tutorial teaches ASP.NET Core MVC web development with controllers and views.</p>
            </div>
        </div>
        <div class="single-post row">
            <img class="col-5 col-md-3" src="https://media.istockphoto.com/photos/breaking-news-world-news-with-map-backgorund-picture-id1182477852?k=6&m=1182477852&s=612x612&w=0&h=X-UipiiX5xcMw9dBhzKZWG7UcWjEOARl2s_oTVV8rtE=" alt="error" />
            <div class="col-7 col-md-9 mt-3">
                <span>Title of the news test length of the title </span>
                <h6>Fana Television</h6>
                <div>5k <span>Release date</span></div>
                <p>This tutorial teaches ASP.NET Core MVC web development with controllers and views.</p>
            </div>
        </div>
    </section>
</div>